extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/events") Мероприятия
    li.breadcrumb-item.active(aria-current="page") #{title}

block contentForBlock
    section.linkToDoc.mb-4 
        span.iconList.bg-secondary-subtle.p-2.rounded-3.me-2
            i.fa-solid.fa-list.fa-md.text-black
        p.m-0.d-inline-block 2021 год:
    each webinar in web
        if webinar.year == 2021
            section.linkToDoc.mb-4.ms-5
                if url == "/events/webinars"
                    a.text-black(href=`/events/webinars/webinar_${webinar.id}`)
                        p.m-0.d-inline-block.lh-lg
                            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                                i.fa-solid.fa-arrow-right.fa-lg.text-black
                            |#{webinar.title}
                else
                    a.text-black(href=`/events/conferences-and-seminars/webinar_${webinar.id}`) 
                        p.m-0.d-inline-block.lh-lg
                            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                                i.fa-solid.fa-arrow-right.fa-lg.text-black
                            |#{webinar.title}
    section.linkToDoc.mb-4
        span.iconList.bg-secondary-subtle.p-2.rounded-3.me-2
            i.fa-solid.fa-list.fa-md.text-black
        p.m-0.d-inline-block 2022 год:
    each webinar in web
        if webinar.year == 2022
            section.linkToDoc.mb-4.ms-5
                if url == "/events/webinars"
                    a.text-black(href=`/events/webinars/webinar_${webinar.id}`)
                        p.m-0.d-inline-block.lh-lg
                            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                                i.fa-solid.fa-arrow-right.fa-lg.text-black
                            |#{webinar.title}
                else
                    a.text-black(href=`/events/conferences-and-seminars/webinar_${webinar.id}`) 
                        p.m-0.d-inline-block.lh-lg
                            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                                i.fa-solid.fa-arrow-right.fa-lg.text-black
                            |#{webinar.title}
    section.linkToDoc.mb-4 
        span.iconList.bg-secondary-subtle.p-2.rounded-3.me-2
            i.fa-solid.fa-list.fa-md.text-black
        p.m-0.d-inline-block 2023 год:
    each webinar in web
        if webinar.year == 2023
            section.linkToDoc.mb-4.ms-5
                if url == "/events/webinars"
                    a.text-black(href=`/events/webinars/webinar_${webinar.id}`)
                        p.m-0.d-inline-block.lh-lg
                            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                                i.fa-solid.fa-arrow-right.fa-lg.text-black
                            |#{webinar.title}
                else
                    a.text-black(href=`/events/conferences-and-seminars/webinar_${webinar.id}`) 
                        p.m-0.d-inline-block.lh-lg
                            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                                i.fa-solid.fa-arrow-right.fa-lg.text-black
                            |#{webinar.title}