extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/education") Образование
    li.breadcrumb-item.active(aria-current="page")  #{title}

block contentForBlock
    - var codes = [["09.02.03 Программирование в компьютерных системах (очная форма)", "АОП_090203_2019.rar"], ["09.02.06 Сетевое и системное администрирование (очная форма)", "АОП_090206_2019.rar", "АОП_090206_2020.rar", "АОП_090206_2021.rar", "АОП_090206_2022.rar"], ["09.02.07 Информационные системы и программирование (очная форма) (квалификация - разработчик веб и мультимедийных приложений)", undefined, "АОП_090207_ИСВ_2020.rar", undefined, "АОП_090207_ИСВ_2022.rar"], ["09.02.07 Информационные системы и программирование (очная форма) (квалификация - специалист по информационным системам)", undefined, undefined, "АОП_090207_СиС_2021.rar", "АОП_090207_СиС_2022.rar"], ["38.02.01 Экономика и бухгалтерский учет (по отраслям) (очная форма)", "АОП_38.02.01_Экономика и БУ_2019.rar", undefined, "АОП_2021_ЭиБУ.rar", "АОП_2022_ЭиБУ.rar"], ["38.02.02 Страховое дело (по отраслям) (очная форма)", "АОП_СД_2019.rar", "АОП_СД_2020.rar", "АОП_СД_2021.rar", "АОП_СД_2022.rar"], ["38.02.07 Банковское дело (очная форма)",  "АОП_380207_2019.rar", "АОП_380207_2020.rar", "АОП_380207_2021.rar", "АОП_380207_2022.rar"], ["43.02.10 Туризм (очная форма)", "АОПОП43.02.10_2019.rar", "АОПОП43.02.10 Т_2021.rar"], ["43.02.14 Гостиничное дело (очная форма)", "АОПОП43.02.14_2019.rar", "АОПОП43.02.14 ГД_2020.rar", "АОПОП43.02.14 ГД_2021.rar", "АОПОП49.02.01_ГД_2022.rar"], ["44.02.01 Дошкольное образование (очная форма)", "АОП_440201_2019.rar", "АОП_440201_2020.rar", "АОП_440201_2021.rar", "АОП_440201_2022.rar", "A_DoshkolnoeObrazovanie_2023.rar"], ["44.02.01 Дошкольное образование (заочная форма)", "АОП_ЗДО_2019.rar", "АОП_ЗДО_2020.rar", "АОП440201_2021z.rar", "АОП440201_2022z.rar"], ["44.02.02 Преподавание в начальных классах (очная форма)", "АОП_440202_2019.rar", "АОП_440202_2020.rar", "АОП_440202_2021.rar", "АОП_440202_2022.rar", "A_PrepNachClass_2023.rar"], ["46.02.01 Документационное обеспечение управления и архивоведение (очная форма)", undefined, "АОП_ДОУиА_2020.rar", "АОП_ДОУиА_2021.rar", "АОП_ДОУиА_2022.rar", "46.02.01_DOUiA_AOP.zip"], ["49.02.01 Физическая культура (очная форма)", "АОПОП49.02.01_ФК_2019.rar", "АОПОП49.02.01_ФК_2020.rar", "АОПОП49.02.01_ФК_2021.rar", "АОПОП49.02.01_ФК_2022.rar", "AD_49.02.01_FK_2023.rar"], ["53.02.01 Музыкальное образование (очная форма)", "АОП_530201_2019.rar", "АОП_530201_2020.rar", "АОП_530201_2021.rar", "АОП_530201_2022.rar"], ["46.02.01 Документационное обеспечение управления и архивоведение (заочная форма)", undefined, undefined, undefined, "АОП460201_2022z.rar"], ["44.02.02 Преподавание в начальных классах (заочная форма)", undefined, undefined, undefined, "АОП440202_2022z.rar"], ["43.02.16 Туризм и гостеприимство", undefined, undefined, undefined, undefined, "AD_43.02.16_TiG_2023.rar"]]
    if codes[0][1] == undefined
        p asds
    ul Архивы содержат:
        li.m-0 адаптированные образовательные программы учебных предметов, курсов, дисциплин (модулей);
        li.m-0 программы практик, предусмотренных образовательными программами.
    .row.border.border-bottom-0.bg-light-subtle.infoAboutAdEduRow
        .col-1.d-flex.align-items-center.justify-content-center.border-bottom.border-end
            p.m-0.fw-bold.text-center  №
        .col-5.d-flex.align-items-center.justify-content-center.border-bottom.border-end
            p.m-0.fw-bold.text-center Код и наименование специальности
        .col-6.border-bottom
            p.m-0.fw-bold.text-center.py-2 Год приема
            .row.border-top
                - var k = 0
                while k < 5
                    if k == 4
                        .col.text-center
                            p.m-0.fw-bold.py-2 #{2019+k}
                    else
                        .col.text-center.border-end
                            p.m-0.fw-bold.py-2 #{2019+k}
                    - k++
    - var i = 0
    while i < codes.length 
        .row.border.border-top-0.infoAboutAdEduRow
            .col-1.text-center.py-2.border-end
                p.m-0.fw-bold #{i+1}
            .col-5.py-2.border-end
                p.m-0 #{codes[i][0]}  
            .col-6.text-center
                .row.h-100
                    - var k = 0
                    while k < 5
                        if k == 4
                            .col.py-2
                                if codes[i][k+1] == undefined
                                    p.col.m-0 -
                                else
                                    a.col.fw-bold(href=`/docs/${codes[i][k+1]}`) Просмотр
                        else
                            .col.py-2
                                if codes[i][k+1] == undefined
                                    p.col.m-0 -
                                else
                                    a.col.fw-bold(href=`/docs/${codes[i][k+1]}`) Просмотр                           
                        - k++
            - i++